<body>

  <div class="app-container">
    <form #loginForm="ngForm" (ngSubmit)="login()" class="form-container">
      <h2>Log In</h2>

      <!-- Email -->
      <div class="form-group">
        <input type="email" id="email" name="email" [(ngModel)]="loginInfo.email" required email #emailField="ngModel"
          placeholder="Email" />
        <div class="error-text" *ngIf="emailField.invalid && emailField.touched">
          <small *ngIf="emailField.errors?.required">Email is required.</small>
          <small *ngIf="emailField.errors?.email">Please enter a valid email.</small>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" id="password" name="password" [(ngModel)]="loginInfo.password" required minlength="6"
          #passwordField="ngModel" placeholder="Password" />
        <div class="error-text" *ngIf="passwordField.invalid && passwordField.touched">
          <small *ngIf="passwordField.errors?.required">Password is required.</small>
          <small *ngIf="passwordField.errors?.minlength">Password must be at least 6 characters.</small>
        </div>
      </div>

      <!-- Buttons -->
      <div class="button-container">
        <button type="submit" class="btn">Login</button>

        <p class="login-link">
          Don't have an account? <a routerLink="/signup">Sign Up</a>
        </p>
      </div>
    </form>
  </div>
</body>