# Angular
angularapp/node_modules/
angularapp/package-lock.json
angularapp/src/global.ts
 
# Spring
springapp/.mvn/
springapp/target/
 
# Test folders
junit/
karma/
 
springapp/src/main/resources/application-local.properties