angularapp/.browserslistrc
angularapp/.editorconfig
angularapp/angular.json
angularapp/karma.conf.js
angularapp/package-lock.json
angularapp/tsconfig.app.json
angularapp/tsconfig.json
angularapp/tsconfig.spec.json
angularapp/tslint.json
angularapp/node_modules/


junit/
karma/


springapp/.mvn
springapp/target