<h1>Manage Investments</h1>
 
 
 
<div>
    <label for="filterSearch">Search by Name</label>
    <input type="text" id="filterSearch" name="filterSearch" #search (input)="filterSearch(search.value)">
 
 
    <label for="filterCategory">Filter by Type:</label>
    <select name="filterCategory" id="filterCategory" #filter (change)="filterCategory(filter.value)">
        <option value="AllTypes">All Types</option>
        <option value="Stock1">Stock1</option>
        <option value="Stock2">Stock2</option>
        <option value="Stock3">Stock3</option>
        <option value="Stock4">Stock4</option>
        <option value="Stock5">Stock5</option>
    </select>
</div>
 
 
<table>
    <thead>
        <tr>
            <th>S No.</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Purchase Price (USD)</th>
            <th>Current Price (USD)</th>
            <th>Quantity</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
 
    <tbody>
        <tr *ngFor="let investment of investments,index as i">
            <td>{{i+1}}</td>
            <td>{{investment.investmentId}}</td>
            <td>{{investment.name}}</td>
            <td>{{investment.description}}</td>
            <td>{{investment.type}}</td>
            <td>{{investment.purchasePrice}}</td>
            <td>{{investment.currentPrice}}</td>
            <td>{{investment.quantity}}</td>
            <td>{{investment.purchaseDate}}</td>
            <td>{{investment.status}}</td>
            <td>
                <button [routerLink]="['/edit-investment',investment.investmentId]">Edit</button>
                <button (click)="deleteInvestment(investment.investmentId)">Delete</button>
 
            </td>
        </tr>
 
 
 
    </tbody>
</table>