<h1>Add Investment</h1>

<form [formGroup]="investmentForm" (ngSubmit)="addNewInvestment(investmentForm)">
  
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">
  <div *ngIf="f.name.touched && f.name.invalid">
    <div *ngIf="f.name.errors?.required">Name is required.</div>
    <div *ngIf="f.name.errors?.minlength">Name must be at least 5 characters.</div>
  </div>

  <label for="description">Description:</label>
  <textarea id="description" formControlName="description" cols="30" rows="10"></textarea>
  <div *ngIf="f.description.touched && f.description.invalid">
    <div *ngIf="f.description.errors?.required">Description is required.</div>
    <div *ngIf="f.description.errors?.minlength">Description must be at least 15 characters.</div>
  </div>

 
  <label for="type">Type:</label>
  <select id="type" formControlName="type">
    <option value="">Select Type</option>
    <option value="Equity">Equity</option>
    <option value="Mutual Fund">Mutual Fund</option>
    <option value="Stocks">Stocks</option>
    <option value="Real Estate">Real Estate</option>
    <option value="Crypto">Crypto</option>
  </select>
  <div *ngIf="f.type.touched && f.type.invalid">
    <div *ngIf="f.type.errors?.required">Type is required.</div>
  </div>

  
  <label for="price">Price:</label>
  <input type="number" id="price" formControlName="price">
  <div *ngIf="f.price.touched && f.price.invalid">
    <div *ngIf="f.price.errors?.required">Price is required.</div>
    <div *ngIf="f.price.errors?.min">Must be a positive number.</div>
  </div>

 
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" formControlName="quantity">
  <div *ngIf="f.quantity.touched && f.quantity.invalid">
    <div *ngIf="f.quantity.errors?.required">Quantity is required.</div>
    <div *ngIf="f.quantity.errors?.min">Must be a positive number.</div>
  </div>

 
  <button type="submit" [disabled]="investmentForm.invalid">Add Investment</button>
</form>


<div *ngIf="addedInvestment">
  <div>Investment added successfully!</div>
  <button (click)="closeAddSuccessPage()">CLOSE</button>
</div>
