<div class="dashboard-container">
  <div class="download">
    <button (click)="downloadPDF()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22">
        <g fill="none" fill-rule="evenodd" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="3">
          <path d="M1 16v3a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-3M6 11l4 4 4-4M10 1v14"></path>
        </g>
      </svg>Download Report</button>
  </div>
  <div class="dashboard-summary">
    <div class="summary-card bg-primary">
        <div class="overlay-admin">
        <div class="summary-header">Total Invested</div>
        <div class="summary-body">
          <h5>₹{{ portfolioData.totalInvested | number:'1.2-2' }}</h5>
        </div>
      </div>
    </div>
    <div class="summary-card bg-success">
      <div class="overlay-admin">
        <div class="summary-header">Total Invested</div>
        <div class="summary-body">
          <h5>₹{{ portfolioData.currentValue | number:'1.2-2' }}</h5>
        </div>
      </div>
    </div>
    <div class="summary-card bg-info">
      <div class="overlay-admin">
        <div class="summary-header">{{ portfolioData.profitOrLossLabel }}</div>
        <div class="summary-body">
          <h5>₹{{ portfolioData.profitOrLossAmount | number:'1.2-2' }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-charts">
    <div class="chart-card">
      <h3>Distribution by Type</h3>
      <div class="chart-body">
        <canvas baseChart [data]="portfolioData.TypeData" [labels]="portfolioData.TypeLabels"
          [chartType]="doughnutChartType" [colors]="doughnutChartColors"></canvas>
      </div>
    </div>
    <div class="chart-card">
      <h3>Distribution by Sector</h3>
      <div class="chart-body">
        <canvas baseChart [data]="portfolioData.SectorData" [labels]="portfolioData.SectorLabels"
          [chartType]="doughnutChartType" [colors]="doughnutChartColors"></canvas>
      </div>
    </div>
    <div class="chart-card">
      <h3>Distribution by Cap Size</h3>
      <div class="chart-body">
        <canvas baseChart [data]="portfolioData.CapSizeData" [labels]="portfolioData.CapSizeLabels"
          [chartType]="doughnutChartType" [colors]="doughnutChartColors"></canvas>
      </div>
    </div>
  </div>

  <div class="user-summary-table">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Investment Name</th>
          <th>Cap Size</th>
          <th>Sector</th>
          <th>Type</th>
          <th>Amount Invested (₹)</th>
          <th>Current Value (₹)</th>
          <th>Profit/Loss (₹)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of portfolioData.investments">
          <td>{{ investment.name }}</td>
          <td>{{ investment.capSize }}</td>
          <td>{{ investment.sector }}</td>
          <td>{{ investment.type }}</td>
          <td>{{ investment.purchasePrice*investment.quantityBought | number:'1.2-2' }}</td>
          <td>{{ investment.currentPrice*investment.quantityBought | number:'1.2-2' }}</td>
          <td [ngStyle]="{'color':investment.currentPrice<investment.purchasePrice?'red':'green'}">{{
            (investment.currentPrice*investment.quantityBought)-(investment.purchasePrice*investment.quantityBought) |
            number:'1.2-2' }}</td>
          <td> {{ investment.currentPrice > investment.purchasePrice ? 'Profit' :investment.currentPrice < investment.purchasePrice ? 'Loss' : 'No Change' }} </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>