<h1>Edit Investment</h1>

<form [formGroup]="investmentForm" (ngSubmit)="updateInvestment()">
  <div>
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" />
  <div *ngIf="f.name.invalid && (f.name.touched || f.name.dirty)">
    <div *ngIf="f.name.errors?.required">Name is mandatory</div>
  </div>
</div>
<div>
  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
  <div *ngIf="f.description.invalid && (f.description.touched || f.description.dirty)">
    <div *ngIf="f.description.errors?.required">Description is mandatory</div>
  </div>
</div>
<div>

  <label for="type">Type:</label>
  <select id="type" formControlName="type">
    <option value="">-- Select Type --</option>
    <option value="Stock1">Stock1</option>
    <option value="Stock2">Stock2</option>
    <option value="Stock3">Stock3</option>
    <option value="Stock4">Stock4</option>
    <option value="Stock5">Stock5</option>
  </select>
</div>
<div>
  <label for="purchasePrice">Purchase Price:</label>
  <input type="number" id="purchasePrice" formControlName="purchasePrice" />
  <div *ngIf="f.purchasePrice.invalid && (f.purchasePrice.touched || f.purchasePrice.dirty)">
    <div *ngIf="f.purchasePrice.errors?.required">Purchase Price is mandatory</div>
    <div *ngIf="f.purchasePrice.errors?.min">Purchase Price should be positive</div>
  </div>
</div>
<div>
  <label for="currentPrice">Current Price:</label>
  <input type="number" id="currentPrice" formControlName="currentPrice" />
  <div *ngIf="f.currentPrice.invalid && (f.currentPrice.touched || f.currentPrice.dirty)">
    <div *ngIf="f.currentPrice.errors?.required">Current Price is mandatory</div>
    <div *ngIf="f.currentPrice.errors?.min">Current Price should be positive</div>
  </div>
</div>
<div>
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" formControlName="quantity" />
  <div *ngIf="f.quantity.invalid && (f.quantity.touched || f.quantity.dirty)">
    <div *ngIf="f.quantity.errors?.required">Quantity is mandatory</div>
    <div *ngIf="f.quantity.errors?.min">Quantity should be positive</div>
  </div>
</div>
<div>
  <label for="purchaseDate">Purchased Date:</label>
  <input type="text" id="purchaseDate" formControlName="purchaseDate" />
  <div *ngIf="f.purchaseDate.invalid && (f.purchaseDate.touched || f.purchaseDate.dirty)">
    <div *ngIf="f.purchaseDate.errors?.required">Purchased Date is mandatory</div>
  </div>
</div>
<div>
  <label for="status">Status:</label>
  <select id="status" formControlName="status">
    <option value="">-- Select Status --</option>
    <option value="Status1">Status1</option>
    <option value="Status2">Status2</option>
    <option value="Status3">Status3</option>
    <option value="Status4">Status4</option>
    <option value="Status5">Status5</option>
  </select>
</div>
  <button type="submit" [disabled]="investmentForm.invalid">Update Investment</button>
</form>
