<h1>Edit Investment</h1>
 
<form [formGroup]="investmentForm" (ngSubmit)="updateInvestment()">
 
  <label for="name">Name:</label>
<input type="text" id="name" formControlName="name" disabled>
 
  <label for="description">Description:</label>
<textarea id="description" formControlName="description" cols="30" rows="5"></textarea>
<div *ngIf="f.description.touched && f.description.invalid">
<div *ngIf="f.description.errors?.required" style="color: red;">Description is required.</div>
<div *ngIf="f.description.errors?.minlength" style="color: red;">Description must be at least 15 characters.</div>
</div>
 
  <label for="type">Type:</label>
<input type="text" id="type" formControlName="type" disabled>
 
  <label for="price">Price:</label>
<input type="number" id="price" formControlName="price">
<div *ngIf="f.price.touched && f.price.invalid">
<div *ngIf="f.price.errors?.required" style="color: red;">Price is required.</div>
<div *ngIf="f.price.errors?.min" style="color: red;">Must be a positive number.</div>
</div>
 
  <label for="quantity">Quantity:</label>
<input type="number" id="quantity" formControlName="quantity" disabled>
 
  <label for="status">Status:</label>
<select id="status" formControlName="status">
<option value="">Select Status</option>
<option value="Active">Active</option>
<option value="Inactive">Inactive</option>
</select>
 
  <label for="capSize">Cap Size:</label>
<input type="text" id="capSize" formControlName="capSize" disabled>
 
  <label for="sector">Sector:</label>
<input type="text" id="sector" formControlName="sector">
 
  <label for="postedDate">Posted Date:</label>
<input type="text" id="postedDate" formControlName="postedDate" disabled>
 
  <button type="submit" [disabled]="investmentForm.invalid">Update Investment</button>
</form>
 
<div *ngIf="updated">
<div>Investment Updated successfully!</div>
<button (click)="closeModal()">CLOSE</button>
</div>
 