<div class="view-container">
  <h1 class="page-title">Admin Inquiry Panel</h1>


  <div class="filter">
    <label for="searchText">Search:</label>
    <input type="text" [(ngModel)]="searchText" class="filter-input" placeholder="Search inquiries..."
      (input)="filterText()" />

    <label for="filterStatus">Filter by Status:</label>
    <select [(ngModel)]="filterStatus" class="filter-select" (change)="applyFilters()">
      <option value="">All Status</option>
      <option value="Pending">Pending</option>
      <option value="Responded">Responded</option>
    </select>

    <label for="filterRisk">Filter by Risk Tolerance:</label>
    <select [(ngModel)]="filterRisk" class="filter-select" (change)="applyFilters()">
      <option value="">All</option>
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
  </div>

  <table *ngIf="inquiries.length > 0; else noInquiries" class="inquiry-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Investment</th>
        <th style="width: 36%;">Question Asked</th>
        <th>Risk Tolerance</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inquiry of inquiries">
        <td>{{ inquiry.inquiryId }}</td>
        <td>{{ inquiry.user.username }}</td>
        <td>{{ inquiry.investment.name }}</td>
        <td>{{ inquiry.questions }}</td>
        <td>{{ inquiry.riskTolerance }}</td>
        <td>{{ inquiry.status }}</td>
        <td>
          <button (click)="showResponseForm(inquiry!)" class="response">View Details & Respond</button>
          <button (click)="deleteInquiry(inquiry.inquiryId!)" class="delete">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noInquiries>
    <p class="no-data">No inquiries found.</p>
  </ng-template>

  <!-- Modal for Admin Response -->
  <div class="modal" *ngIf="selectedInquiry">
    <div class="modal-overlay" (click)="cancel()"></div>
    <div class="modal-content">
      <h4>Inquiry Details:</h4>
      <p>Reason of Interest: {{ selectedInquiry.reasonOfInterest }}</p>
      <p>Inquiry Date: {{selectedInquiry.inquiryDate | date: 'short' }}</p>
      <p>Expected ROI: {{ selectedInquiry.expectedReturn }}</p>
      <p>Response Date: {{selectedInquiry?.responseDate?(selectedInquiry.responseDate | date: 'short') : 'N/A' }}</p>
      <p>Contact Details: {{ selectedInquiry.contactDetails }}</p>
      <h4 style="margin-top: 10px;">Add Admin Response</h4>
      <p for="response">Previous Response: {{ selectedInquiry?.adminResponse }}</p>
      <textarea [(ngModel)]="responseText" rows="3" class="modal-textarea" placeholder="Enter your response"></textarea>
      <div class="modal-buttons">
        <button (click)="submitResponse()" class="action-btn secondary">Submit Response</button>
        <button (click)="cancel()" class="action-btn danger">Cancel</button>
      </div>
      <div *ngIf="responseSubmitted" class="success-message mt-2">
        Response submitted successfully!
      </div>
    </div>
  </div>
</div>