/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  line-height: 1.6;
  background-color: #1a202c;
  height: 100vh;
}

.add-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 2% 2%;

}

/* Form Container */
.form-container {
  width: 100%;
  max-width: 28rem;
  background-color: #bebebe2f;
}

/* Form Styles */
.form {
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  border: 1px solid #4a5568;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  padding: 1rem 0.75rem;
  background-color: #1b1f28;
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

.form-input:focus {
  border-color: #5bb0ff;
  box-shadow: 0 0 0 2px rgb(91, 176, 255);
}

.form-input.error {
  border-color: #f56565;
}

.error-message {
  margin-top: 0.5rem;
  color: #f56565;
  font-size: 0.75rem;
  text-align: center;
}

.form-submit {
  text-align: center;
}

.submit-button {
  color: white;
  margin-bottom: 10px;
  background: linear-gradient(to bottom right, #00bce6, #2962ff, #d500f9);
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 45%;
}

.submit-button:hover:not(:disabled) {
  background: linear-gradient(to bottom right, #00bce6, #2962ff, #d500f9);
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.3);
}

.submit-button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

/* Success Message */
.success-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.627);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.success-content-box {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  height: 25%;
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.success-text {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  color: white;
}

.close-button {
  color: white;
  margin-bottom: 10px;
  background: linear-gradient(to bottom right, #00bce6, #2962ff, #d500f9);
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 45%;
}

.action-btn{
  display: flex;
  gap: 6%;
  justify-content: center;
}

.close-button:hover {
  background-color: #2d3748;
}

.close-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.3);
}

.error-message {
  margin-top: 0.5rem;
  color: #f56565;
  font-size: 0.75rem;
}

.error-message small {
  display: block;
}

/* Responsive styles */
@media (min-width: 640px) {
  .container {
      padding: 1.5rem;
  }
}