<nav class="navbar">

    <div class="logo">InvestTrack</div>
  
    <div class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/admin-console">Admin Console</a>
      <a routerLink="/admin-view-investment">View Investments</a>
      <a routerLink="/add-investment">Add Investment</a>
      <a routerLink="/admin-inquiry">Inquiries</a>
      <a routerLink="/admin-feedback">Feedback</a>
    </div>
  
    <div class="user-section">
      <span class="user-info">Admin</span>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </nav>
  
