<nav class="navbar">
    <div class="navbar-left">
      <a routerLink="/" class="logo">InvestTrack</a>
    </div>
  
    <div class="navbar-center">
      <a routerLink="/user-view-investment">View Investments</a>
      <a routerLink="/user-add-feedback">Give Feedback</a>
      <a routerLink="/user-view-inquiry">My Inquiries</a>
      <a routerLink="/user-view-feedback">My Feedback</a>
      <a routerLink="/user-view-watchlist">My Watchlist</a>
      <a routerLink="/user-view-portfolio">My Portfolio</a>
    </div>
  
    <div class="navbar-right">
      <span>{{ username }} / {{userRole}}</span>
      <button (click)="onLogout()">Logout</button>
    </div>
  </nav>
  