<nav class="navbar">

    <div class="navbar-left">
        <a routerLink="/" class="logo">InvestTrack</a>
    </div>


    <div class="navbar-center">
        <a routerLink="/user-view-investment">View Investments</a>
        <a routerLink="/user-add-feedback">Give Feedback</a>
        
        <a routerLink="/user-view-inquiry">My inquiries</a>
        <a routerLink="/user-view-feedback">My Feedback</a>
    </div>


    <div class="navbar-right">
        <button (click)="onLogout()">Logout</button>
    </div>
</nav>