<div class="view-container">
  <h1>Feedback Received</h1>

  <div class="filter">
    <label for="searchByText">Search By Text:</label>
    <input type="text" name="searchByText" id="searchByText" [(ngModel)]="searchByText" (input)="searchBasedOnText()">

    <label for="categoryFilter">Filter by Category:</label>
    <select id="categoryFilter" #categoryFil (change)="filterByCategory(categoryFil.value)">
      <option value="All">All</option>
      <option *ngFor="let feedback of feedbacks" [value]="feedback.category">
        {{ feedback.category }}
      </option>
    </select>

    <button class="action-btn danger" (click)="sortByDate()">Sort By Date</button>
  </div>

  <table *ngIf="feedbacks.length>0;else noFeedback" class="inquiry-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Feedback ID</th>
        <th>User</th>
        <th>Investment</th>
        <th>Category</th>
        <th style="width: 23%;">Feedback Message</th>
        <th>Posted Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of filterFeedbacks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ feedback.feedbackId }}</td>
        <td>{{ feedback.user.username }}</td>
        <td>{{ feedback.investment?.name ||"N/A" }}</td>
        <td>{{ feedback.category }}</td>
        <td>{{ feedback.feedbackText }}</td>
        <td>{{ feedback.date | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="response" (click)="showUserDetails(feedback.user)">Show User Details</button>
          <button class="delete" *ngIf="feedback.category === 'Assets'"
            (click)="showInvestmentDetails(feedback.investment)">View Investment
            Info</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noFeedback>
    <p class="no-data">No Feedbacks found.</p>
  </ng-template>

  <div class="modal" *ngIf="selectedUser">
    <div class="modal-overlay" onkeypress="" (click)="cancel()"></div>
    <div class="modal-content">
      <h3>User Details</h3>
      <p><strong>User ID:</strong>{{selectedUser.userId}}</p>
      <p><strong>UserName:</strong> {{ selectedUser.username }}</p>
      <p><strong>Email:</strong> {{ selectedUser.email }}</p>
      <p><strong>Role:</strong> {{ selectedUser.userRole }}</p>
      <div class="modal-buttons">
        <button class="action-btn danger" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="selectedInvestment">
    <div class="modal-overlay" onkeypress="" (click)="cancel()"></div>
    <div class="modal-content">
      <h3>Investment Info</h3>
      <p><strong>Name: </strong> {{ selectedInvestment.name }}</p>
      <p><strong>Type: </strong> {{ selectedInvestment.type }}</p>
      <p><strong>Price: </strong>{{selectedInvestment.price}}</p>
      <p><strong>Quantity: </strong>{{selectedInvestment.quantity}}</p>
      <p><strong>Posted Date: </strong>{{selectedInvestment.postedDate}}</p>
      <p><strong>Status: </strong>{{selectedInvestment.status}}</p>
      <div class="modal-buttons">
        <button class="action-btn danger" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>