<div class="header-fixed">
    <h1>Invest Wise</h1>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
        </ul>
    </nav>
</div>

<div class="scrollable-content">
    <div class="button-group">
        <a routerLink="/login" class="btn">Login</a>
        <a routerLink="/signup" class="btn">Register</a>
    </div>
    <div>
        InvestWise is your smart companion for navigating the world of investments. Whether you're a seasoned
        investor or just starting out, our platform empowers you to explore, track, and manage investments with
        ease. Admins can manage company portfolios and stock fluctuations, while users can browse, wishlist, and
        invest in opportunities that align with their financial goals.
    </div>
    
</div>

<section id="about-us" class="info-section">
    <h2>About Us</h2>
    <p>
        We are a passionate team of developers and financial enthusiasts committed to building tools that empower
        users to take control of their financial future.
    </p>
</section>

<section id="contact-us" class="info-section">
    <h2>Contact Us</h2>
    <p>Email: mailto:support.comsupport.com</p>
    <p>Phone: +91-9876543210</p>
    <p>Address: Mahape, Navi Mumbai</p>
</section>

<div class="footer-fixed">
    <!-- Your fixed footer content (optional) -->
    <p>&copy; 2025 My App</p>
</div>