<div class="view-container">
    <h1>Yours Inquiries</h1>

    <div class="filter">
        <label for="searchByText">Search By Text:</label>
        <input [(ngModel)]="searchText" type="text" placeholder="Search..." (input)="filterText()">

        <label for="" >Risk Tolerance</label>
        <select [(ngModel)]="filterTolerance" class="form-select" (change)="applyFilters()">
            <option value="">All</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        
        <label for="" >Status</label>
        <select [(ngModel)]="filterStatus" class="form-select" (change)="applyFilters()">
            <option value="">All </option>
            <option value="Pending">Pending</option>
            <option value="Responded">Responded</option>
        </select>
    </div>

    <div *ngIf="invests.length <= 0" style="text-align: center;margin-top: 10px;">You have not submitted any inquiries yet.</div>

    <table class="table" *ngIf="invests.length > 0">
        <thead>
            <tr>
                <th>Investment</th>
                <th>Risk Tolerance</th>
                <th>Expected Return of Investment</th>
                <th>Reason for Interest</th>
                <th>Questions</th>
                <th>Status</th>
                <th>Admin Response</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inquiry of invests">
                <td>{{ inquiry.investment.name }}</td>
                <td>{{ inquiry.riskTolerance }}</td>
                <td>{{ inquiry.expectedReturn }}</td>
                <td>{{ inquiry.reasonOfInterest }}</td>
                <td>{{ inquiry.questions }}</td>
                <td>{{ inquiry.status }}</td>
                <td>
                    {{ inquiry.adminResponse ? inquiry.adminResponse : 'No response yet' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>